$gray: #333;
$color-primary: #000;

// Medias querys
$breakpoints: (
  'xs': "(min-width: 0px) and (max-width: 880px)",
  'sm': "(min-width: 768px) and (max-width: 991px)",
  'md': "(min-width: 992px) and (max-width: 1199px)",
  'lg': "(min-width: 1200px) and (max-width: 1600px)",
  'lg2': "(min-width: 1400px) and (max-width: 1600px)",
  'xl': "(min-width: 1601px) and (max-width: 2048px)",
  'md2': "(min-width: 600px) and (max-width: 745px)",
) !default;

