
body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #9e9e9e;
}

img{
  width: 100%;
height: 100%;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {

  box-shadow: none;
}
.v-text-field.v-text-field--solo .v-label {

  color: #000;
  font-size: 1.2rem;
  padding-left: 1rem;
  font-weight: 500;
}
.v-select__slot {
  border-radius: 10px;
  height: 9vh;
  border: 1px solid #cacaca;
  border-radius: 10px;
}
.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot, .v-text-field.v-text-field--enclosed .v-text-field__details {
  padding: 0;
}
.v-list-item__title {
  color: #000;
  font-weight: 500;

}
.mdi-menu-down::before {
  content: "\F035D";
  color: #000;
  font-weight: bold;
  font-size: 2rem;
}
.btn{
  background: #EF1856;
    color: #fff;
    min-width: auto;
    border-radius: 9px;
    font-weight: 400;
    text-transform: capitalize;
}

.mt-12{
  margin-top: 12rem;
  @include respond-to(xs) {
    margin-top: 23rem;
  }
  @include respond-to(sm) {
    margin-top: 3rem;
  }
  @include respond-to(md) {
    margin-top: 16rem;
  }
}
@include respond-to(xs) {
body,html{
  overflow-x: hidden;
}
.center{
  text-align: center;
}
.v-slide-group.v-item-group > .v-slide-group__next, .v-slide-group.v-item-group > .v-slide-group__prev {
  display: none;
}
.v-input--radio-group__input {

  display: block;
}
.vdp-datepicker__calendar {

  left: -4.5rem;
}
.main-checkout .v-card {

  text-align: start;
}
}

.nav-link{
  position: relative;
text-decoration: none;
p{
    background: #fff;
border-radius: 50%;
height: 25px;
width: 25px;
text-align: center;
color: #fff;
position: absolute;
top: -15px;
right: -10px;
@include respond-to(xs) {
  height: 18px;
  width: 18px;
  top: -12px;
  right: -6px;
  font-size: .8rem;
  box-shadow: 0px 0px 5px #0000003b;
}
}
}
.v-menu {
  display: block!important;
}

:focus-visible {
    outline:none;
}
.v-input input {
 
  padding: 0 1rem;
}
.cool-lightbox.cool-lightbox--can-zoom .cool-lightbox__slide img {

    object-fit: contain;
}
.v-card--link:before {
    background: transparent!important;

}
.v-text-field .v-label--active{
  max-width: 190%;

}

.v-text-field .v-label--active {

  left: -15px!important;
}
.select-language .mdi-menu-down::before {

  margin-right: 6rem;
  @include respond-to(xs) {
    margin-right:0;
  }
}